#hiddenPrice {
  display: none;
}

body{
  background-image: url("../img/pizzas-on-dark-taple-top-background--with-copyspace.jpeg");
  background-repeat: no-repeat;
  background-size: 1500px 1000px;
}

.jumbotron {
  opacity: 0.5; 
}

#hiddenPrice p {
  color: gold !important;
}
